In [6]:
import src.load_data as load_data
from src.generate_sound import generate_solo_sounds

melid = 74

bass_note_data = load_data.bass_note_pipeline()
solo_bass_notes = bass_note_data.query(f'melid=={melid}')

solo_data = load_data.data_pipeline()
solo_melody_notes = solo_data.query(f'melid=={melid}')[['onset', 'octave', 'duration', 'melody_note']]

W = generate_solo_sounds(solo_bass_notes, solo_melody_notes, bass_note_duration=0.2, snare_duration=0.1, snare_beats=[2, 4])
W.play()

Note: falling back to playback by exporting to temporary file then using system default player. It is recommended to install one of the supported I/O libraries for more flexible playback, for example simpleaudio, pygame or playsound (see docs for more).
Temp file created at: /Users/arvinlim/Projects/JazzAI\gensound_temp/gensound_temp_2023_01_10__21_44_31_vcwwfyzu.wav

UserWarning: Output audio signal amplitude exceeds 1 (max abs. amplitude 2.96). By default, the signal will be shrunk to fit range of [-1, 1] to prevent clipping. To prevent this behaviour, set the max_amplitude argument to zero, which leaves the signal untouched, or to any positive number, which will stretch/shrink it to match the given peak amplitude.

In [7]:
solo_melody_notes

           onset  octave  duration melody_note
29200   0.046939       5  0.187755           C
29201   0.240816       5  0.181633           D
29202   0.430612       5  0.167347           C
29203   0.608163       5  0.159184           E
29204   0.808163       5  0.142857           C
...          ...     ...       ...         ...
29385  53.852880       4  0.179955           D
29386  54.566893       4  0.174150           F
29387  54.992109       5  0.670476           C
29388  55.717732       5  0.467302           C
29389  56.253243       4  0.516644           A

[190 rows x 4 columns]

In [8]:
solo_bass_notes

       melid      onset  beat  bass_pitch bass_note  octave
17781     74   0.008163     3        36.0         C     2.0
17782     74   0.240816     4        41.0         F     2.0
17783     74   0.607778     1        40.0         E     2.0
17784     74   0.963265     2        36.0         C     2.0
17785     74   1.322449     3        40.0         E     2.0
...      ...        ...   ...         ...       ...     ...
17955     74  61.953855     1        46.0        A#     2.0
17956     74  62.293492     2        46.0        A#     2.0
17957     74  62.657619     3        46.0        A#     2.0
17958     74  63.006871     4        38.0         D     2.0
17959     74  63.326190     1        48.0         C     3.0

[179 rows x 6 columns]